<?php 
$customer = $this->getCustomer(); 
$address = $customer->getData('address');
?>

<form method="post" id="addressForm" action="">
	<div class="panel panel-default">
		<div class="panel-heading">Locatie</div>
		<div class="panel-body">
			<div class="form-row">
				<div class="form-group required col-xs-12">
					<label for="street">Straatnaam</label>
					<input type="text" name="street" class="form-control" id="street" placeholder="Straatnaam" value="<?php echo $address->getData('street'); ?>" required>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group required col-xs-6">
					<label for="housenumber">Huisnr.</label>
					<input type="text" name="housenumber" class="form-control" id="housenumber" placeholder="1" value="<?php echo $address->getData('housenumber'); ?>" required>
				</div>
				<div class="form-group col-xs-6">
					<label for="housenumber_additional">Toevoeging</label>
					<input type="text" name="housenumber_additional" class="form-control" id="housenumber_additional" value="<?php echo $address->getData('housenumber_additional'); ?>" placeholder="A">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group required col-xs-6">
					<label for="zipcode">Postcode</label>
					<input type="text" name="zipcode" class="form-control" id="zipcode" placeholder="1234XX" value="<?php echo $address->getData('zipcode'); ?>" required>
				</div>
				<div class="form-group required col-xs-6">
					<label for="city">Plaatsnaam</label>
					<input type="text" name="city" class="form-control" id="city" placeholder="Utrecht" value="<?php echo $address->getData('city'); ?>" required>
				</div>
			</div>
		</div>
	</div>
	<div class="text-right">
		<a href="<?php echo $this->getUrl('customers/account/index/page/index'); ?>" class="btn btn-danger" role="button">Terug</a>
		<button type="submit" class="btn btn-primary">Opslaan</button>
	</div>
</form>