<?php $customer = $this->getCustomer(); ?>

<form method="post" action="">
	<div class="panel panel-default">
		<div class="panel-heading">Informatie veranderen</div>
		<div class="panel-body">
			<div class="form-group required col-xs-12">
				<label for="firstname">Voornaam</label>
				<input type="text" name="firstname" class="form-control" id="firstname" value="<?php echo $customer->getData('firstname'); ?>" required>
			</div>
			<div class="form-group col-xs-12">
				<label for="lm_prefix">Tussenvoegsel</label>
				<input type="text" name="lm_prefix" class="form-control" id="lm_prefix" value="<?php echo $customer->getData('lm_prefix'); ?>">
			</div>
			<div class="form-group required col-xs-12">
				<label for="lastname">Achternaam</label>
				<input type="text" name="lastname" class="form-control" id="lastname" value="<?php echo $customer->getData('lastname'); ?>" required>
			</div>	
			<div class="form-group required col-xs-12">
				<label for="email">E-mailadres</label>
				<input type="email" name="email" class="form-control" id="email" value="<?php echo $customer->getData('email'); ?>" aria-describedby="emailHelp" required">
			</div>
		</div>
	</div>
	<div class="text-right">
		<a href="<?php echo $this->getUrl('customers/account/index/page/index'); ?>" class="btn btn-danger" role="button">Terug</a>
		<button type="submit" class="btn btn-primary">Opslaan</button>
	</div>
</form>		