<form method="post" action="">
	<div class="panel panel-default">
		<div class="panel-heading">Wachtwoord veranderen</div>
		<div class="panel-body">
			<div class="form-group required col-xs-12">
				<label for="password">Huidige wachtwoord</label>
				<input type="password" name="password" class="form-control" id="password" required>
			</div>
			<div class="form-group required col-xs-12">
				<label for="new_password">Nieuwe wachtwoord</label>
				<input type="password" name="new_password" class="form-control" id="new_password" required>
			</div>
			<div class="form-group required col-xs-12">	
				<label for="new_password2">Herhaal wachtwoord</label>
				<input type="password" name="new_password2" class="form-control" id="new_password2" required>
			</div>
		</div>
	</div>
	<div class="text-right">
		<a href="<?php echo $this->getUrl('customers/account/index/page/index'); ?>" class="btn btn-danger" role="button">Terug</a>
		<button type="submit" class="btn btn-primary">Opslaan</button>
	</div>
</form>		