<?php
$customer = $this->getCustomer();
$address = $customer->getData('address');
$stringer = $customer->getData('stringer');
$strings = $stringer->getData('strings');
?>

<form method="post" id="customerEdit" action="customers/stringer/save">
	<div class="panel panel-default">
		<div class="panel-heading">Service</div>
		<div class="panel-body">
			<div class="form-row">
				<div class="form-group col-xs-6 required">
					<label for="price">Tarief</label>
					<div class="input-group">
						<span class="input-group-addon">€</span>
						<input type="text" name="price" class="form-control" id="price" value="<?php echo number_format($stringer->getData('price'), '2', ',', '.'); ?>" placeholder="14,99" required>
					</div>
				</div>
				<div class="form-group col-xs-6 required">
					<label for="duration">Bespan duur</label>
					<div class="input-group">
						<select class="form-control" id="duration" name="duration">
							<?php foreach ($this->getSelectOptions('App\Customers\Model\Source\Duration') as $key => $option){ ?>
								<option value="<?php echo $key; ?>" <?php echo ($stringer->getData('duration') == $key ? "selected" : ""); ?>><?php echo $option; ?></option>
							<?php } ?>
						</select>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-xs-12">
					<label>Bezorgservice</label>
					<div class="checkbox-inline">
						<input class="form-check-input" type="radio" name="delivery" id="delivery1" value="1" <?php echo ($stringer->getData('delivery') ? "checked" : ""); ?>>
						<label class="form-check-label" for="delivery1">Ja</label>
					</div>
					<div class="checkbox-inline">
						<input class="form-check-input" type="radio" name="delivery" id="delivery2" value="0" <?php echo (!$stringer->getData('delivery') ? "checked" : ""); ?>>
						<label class="form-check-label" for="delivery2">Nee</label>
					</div>
				</div>
			</div>
			
			<div class="form-row <?php echo (!$stringer->getData('delivery') ? "hidden" : ""); ?>" id="delivery_range">
				<div class="form-group col-xs-6">
					<label for="distance">Max afstand</label>
					<div class="input-group">
						<input type="text" name="distance" class="form-control" id="distance" value="<?php echo $stringer->getData('distance'); ?>" placeholder="5">
						<span class="input-group-addon">km</span>
					</div>
				</div>
				<div class="form-group col-xs-6">
					<label for="delivery_price">Bezorg prijs</label>
					<div class="input-group">
						<span class="input-group-addon">€</span>
						<input type="text" name="delivery_price" class="form-control" id="delivery_price" value="<?php echo number_format($stringer->getData('delivery_price'), '2', ',', '.'); ?>" placeholder="4,99">
					</div>
				</div>
			</div>
		</div>
	</div>
		
	<div class="panel panel-default">
		<div class="panel-heading">Locatie</div>
		<div class="panel-body">
			<div class="form-row">
				<div class="form-group required col-xs-12">
					<label for="street">Straatnaam</label>
					<input type="text" name="street" class="form-control" id="street" placeholder="Straatnaam" value="<?php echo $address->getData('street'); ?>" required>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group required col-xs-6">
					<label for="housenumber">Huisnr.</label>
					<input type="text" name="housenumber" class="form-control" id="housenumber" placeholder="1" value="<?php echo $address->getData('housenumber'); ?>" required>
				</div>
				<div class="form-group col-xs-6">
					<label for="housenumber_additional">Toevoeging</label>
					<input type="text" name="housenumber_additional" class="form-control" id="housenumber_additional" value="<?php echo $address->getData('housenumber_additional'); ?>" placeholder="A">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group required col-xs-6">
					<label for="zipcode">Postcode</label>
					<input type="text" name="zipcode" class="form-control" id="zipcode" placeholder="1234XX" value="<?php echo $address->getData('zipcode'); ?>" required>
				</div>
				<div class="form-group required col-xs-6">
					<label for="city">Plaatsnaam</label>
					<input type="text" name="city" class="form-control" id="city" placeholder="Utrecht" value="<?php echo $address->getData('city'); ?>" required>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Bespanningen</div>
		<div class="panel-body">
			<div class="form-row">
				<div class="form-group col-xs-12">
					<label>Ik heb snaren</label>
					<div class="checkbox-inline">
						<input class="form-check-input" type="radio" name="has_strings" id="has_strings1" value="1" <?php echo ($stringer->getData('has_strings') ? "checked" : ""); ?>>
						<label class="form-check-label" for="has_strings1">Ja</label>
					</div>
					<div class="checkbox-inline">
						<input class="form-check-input" type="radio" name="has_strings" id="has_strings2" value="0" <?php echo (!$stringer->getData('has_strings') ? "checked" : ""); ?>>
						<label class="form-check-label" for="has_strings2">Nee</label>
					</div>
				</div>
			</div>
			<div class="form-group <?php echo (!$stringer->getData('has_strings') ? "hidden" : ""); ?>" id="strings">
				<div class="hidden" id="example_string">	
					<div class="form-row">
						<div class="form-group col-xs-6">
							<label for="brand">Merk</label>
							<select class="form-control" id="brand" name="brand[]">
								<?php foreach ($this->getSelectOptions('App\Customers\Model\Source\Brand') as $key => $option){ ?>
									<option value="<?php echo $key; ?>"><?php echo $option; ?></option>
								<?php } ?>
							</select>
						</div>
						<div class="form-group col-xs-6">
							<label for="material">Materiaal</label>
							<select class="form-control" id="material" name="material[]">
								<?php foreach ($this->getSelectOptions('App\Customers\Model\Source\Material') as $key => $option){ ?>
									<option value="<?php echo $key; ?>"><?php echo $option; ?></option>
								<?php } ?>
							</select>
						</div>
					</div>
					
					<div class="form-row">
						<div class="form-group col-xs-6">
							<label for="brand">Snaar type</label>
							<select class="form-control" id="type" name="type[]">
								<?php foreach ($this->getSelectOptions('App\Customers\Model\Source\Type') as $key => $option){ ?>
									<option value="<?php echo $key; ?>"><?php echo $option; ?></option>
								<?php } ?>
							</select>
						</div>
						<div class="form-group col-xs-6">
							<label for="thickness">Snaar dikte</label>
							<select class="form-control" id="thickness" name="thickness[]">
								<?php foreach ($this->getSelectOptions('App\Customers\Model\Source\Thickness') as $key => $option){ ?>
									<option value="<?php echo $key; ?>"><?php echo $option; ?></option>
								<?php } ?>
							</select>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-xs-6">
							<label for="string_price">Meerprijs</label>
							<div class="input-group">
								<span class="input-group-addon">€</span>
								<input type="text" name="string_price[]" class="form-control" id="string_price" placeholder="4,99">
							</div>
						</div>
						<div class="form-group col-xs-6">
							<div class="input-group full-width">
								<label>Verwijder</label>
								<div class="text-left"><button type="button" class="btn btn-danger string_container_remove"><i class="fas fa-minus"></i></button></div>
							</div>
						</div>
					</div>
				</div>
				<div id="string_container">
					<?php if(!is_null($strings)){ ?>
						<?php foreach ($strings->getData() as $string){ ?>
							<div id="example_string">
								<div class="form-row">
									<div class="form-group col-xs-6">
										<label for="brand">Merk</label>
										<select class="form-control" id="brand" name="brand[]">
											<?php foreach ($this->getSelectOptions('App\Customers\Model\Source\Brand') as $key => $option){ ?>
												<option value="<?php echo $key; ?>" <?php echo ($string['brand'] == $key ? "selected" : ""); ?>><?php echo $option; ?></option>
											<?php } ?>
										</select>
									</div>
									<div class="form-group col-xs-6">
										<label for="material">Materiaal</label>
										<select class="form-control" id="material" name="material[]">
											<?php foreach ($this->getSelectOptions('App\Customers\Model\Source\Material') as $key => $option){ ?>
												<option value="<?php echo $key; ?>" <?php echo ($string['material'] == $key ? "selected" : ""); ?>><?php echo $option; ?></option>
											<?php } ?>
										</select>
									</div>
								</div>
								
								<div class="form-row">
									<div class="form-group col-xs-6">
										<label for="brand">Snaar type</label>
										<select class="form-control" id="type" name="type[]">
											<?php foreach ($this->getSelectOptions('App\Customers\Model\Source\Type') as $key => $option){ ?>
												<option value="<?php echo $key; ?>" <?php echo ($string['type'] == $key ? "selected" : ""); ?>><?php echo $option; ?></option>
											<?php } ?>
										</select>
									</div>
									<div class="form-group col-xs-6">
										<label for="thickness">Snaar dikte</label>
										<select class="form-control" id="thickness" name="thickness[]">
											<?php foreach ($this->getSelectOptions('App\Customers\Model\Source\Thickness') as $key => $option){ ?>
												<option value="<?php echo $key; ?>" <?php echo ($string['thickness'] == $key ? "selected" : ""); ?>><?php echo $option; ?></option>
											<?php } ?>
										</select>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-xs-6">
										<label for="string_price">Meerprijs</label>
										<div class="input-group">
											<span class="input-group-addon">€</span>
											<input type="text" name="string_price[]" class="form-control" id="string_price" value="<?php echo number_format($string['string_price'], '2', ',', '.'); ?>" placeholder="4,99">
										</div>
									</div>
									<div class="form-group col-xs-6">
										<div class="input-group full-width">
											<label>Verwijder</label>
											<div class="text-left"><button type="button" class="btn btn-danger string_container_remove"><i class="fas fa-minus"></i></button></div>
										</div>
									</div>
								</div>
							</div>
						<?php } ?>
					<?php } ?>
					<?php if (!$stringer->getData('has_strings')){ ?>
						<div id="example_string">	
							<div class="form-row">
								<div class="form-group col-xs-6">
									<label for="brand">Merk</label>
									<select class="form-control" id="brand" name="brand[]">
										<?php foreach ($this->getSelectOptions('App\Customers\Model\Source\Brand') as $key => $option){ ?>
											<option value="<?php echo $key; ?>"><?php echo $option; ?></option>
										<?php } ?>
									</select>
								</div>
								<div class="form-group col-xs-6">
									<label for="material">Materiaal</label>
									<select class="form-control" id="material" name="material[]">
										<?php foreach ($this->getSelectOptions('App\Customers\Model\Source\Material') as $key => $option){ ?>
											<option value="<?php echo $key; ?>"><?php echo $option; ?></option>
										<?php } ?>
									</select>
								</div>
							</div>
							
							<div class="form-row">
								<div class="form-group col-xs-6">
									<label for="brand">Snaar type</label>
									<select class="form-control" id="type" name="type[]">
										<?php foreach ($this->getSelectOptions('App\Customers\Model\Source\Type') as $key => $option){ ?>
											<option value="<?php echo $key; ?>"><?php echo $option; ?></option>
										<?php } ?>
									</select>
								</div>
								<div class="form-group col-xs-6">
									<label for="thickness">Snaar dikte</label>
									<select class="form-control" id="thickness" name="thickness[]">
										<?php foreach ($this->getSelectOptions('App\Customers\Model\Source\Thickness') as $key => $option){ ?>
											<option value="<?php echo $key; ?>"><?php echo $option; ?></option>
										<?php } ?>
									</select>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-xs-6">
									<label for="string_price">Meerprijs</label>
									<div class="input-group">
										<span class="input-group-addon">€</span>
										<input type="text" name="string_price[]" class="form-control" id="string_price" placeholder="4,99">
									</div>
								</div>
								<div class="form-group col-xs-6">
									<div class="input-group full-width">
										<label>Verwijder</label>
										<div class="text-left"><button type="button" class="btn btn-danger string_container_remove"><i class="fas fa-minus"></i></button></div>
									</div>
								</div>
							</div>
						</div>
					<?php } ?>
				</div>
				<div class="form-row">
					<div class="form-group col-xs-12">
						<div class="text-right"><button type="button" class="btn btn-primary mt-1" id="string_container_add"><i class="fas fa-plus"></i></button></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="text-right">
		<a href="<?php echo $this->getUrl('customers/account/index/page/index'); ?>" class="btn btn-danger" role="button">Terug</a>
		<button type="submit" class="btn btn-primary">Opslaan</button>
	</div>
</form>