<form method="post" action="customers/forgot/forgot">
	<div class="form-group">
		<label for="email">E-mailadres</label>
		<input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" required>
	</div>

	<button type="submit" class="btn btn-primary">Stuur e-mail</button>
</form>