<?php 
$customer = $this->getCustomer(); 
$address = $customer->getData('address');
$stringer = $customer->getData('stringer');
$strings = $stringer->getData('strings');
?>

<div class="row">
	<div class="col-xs-12">
		<h1>Mijn account</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">Informatie</div>
			<div class="panel-body">

				<div class="row">
					<div class="col-xs-5">
						Voornaam:
					</div>
					<div class="col-xs-7">
						<?php echo $customer->getData('firstname'); ?>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-5">
						Tussenvoegsel:
					</div>
					<div class="col-xs-7">
						<?php echo $customer->getData('lm_prefix'); ?>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-5">
						Achternaam:
					</div>
					<div class="col-xs-7">
						<?php echo $customer->getData('lastname'); ?>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-5">
						E-mail:
					</div>
					<div class="col-xs-7">
						<?php echo $customer->getData('email'); ?>
					</div>
				</div>
				
				<br />
				
				<a href="<?php echo $this->getUrl("customers/account/information"); ?>">Informatie wijzigen</a><br />
				<a href="<?php echo $this->getUrl("customers/account/password"); ?>">Wachtwoord wijzigen</a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">Locatie</div>
			<div class="panel-body">

				<?php if ($address->getData()){ ?>
					
					<div class="row">
						<div class="col-xs-5">
							Straatnaam:
						</div>
						<div class="col-xs-7">
							<?php echo $address->getData('street'); ?>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5">
							Huisnr.:
						</div>
						<div class="col-xs-7">
							<?php echo $address->getData('housenumber'); ?>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5">
							Toevoeging:
						</div>
						<div class="col-xs-7">
							<?php echo ($address->getData('housenumber_additional') ?: '-'); ?>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5">
							Postcode:
						</div>
						<div class="col-xs-7">
							<?php echo $address->getData('zipcode'); ?>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5">
							Plaatsnaam:
						</div>
						<div class="col-xs-7">
							<?php echo $address->getData('city'); ?>
						</div>
					</div>
					
					<br />
					
					<a href="<?php echo $this->getUrl("customers/account/address"); ?>">Locatie wijzigen</a>
				<?php } else { ?>
					<a href="<?php echo $this->getUrl("customers/account/address"); ?>">Locatie toevoegen</a>
				<?php } ?>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">Bespanner gegevens</div>
			<div class="panel-body">
				<?php if ($stringer->getData()){ ?>
					<div class="row">
						<div class="col-xs-5">
							Prijs:
						</div>
						<div class="col-xs-7">
							<?php echo '€ '. number_format($stringer->getData('price'), '2', ',', '.'); ?>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5">
							Bespan duur:
						</div>
						<div class="col-xs-7">
							<?php echo $this->getSelectOptions('App\Customers\Model\Source\Duration')[$stringer->getData('duration')]; ?>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5">
							Bezorgservice:
						</div>
						<div class="col-xs-7">
							<?php echo ($stringer->getData('delivery') ? "Ja" : "Nee"); ?>
						</div>
					</div>
					<?php if ($stringer->getData('delivery')){ ?>
						<div class="row">
							<div class="col-xs-5">
								Max afstand:
							</div>
							<div class="col-xs-7">
								<?php echo $stringer->getData('distance') ." km"; ?>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-5">
								Bezorg prijs:
							</div>
							<div class="col-xs-7">
								<?php echo '€ '. number_format($stringer->getData('delivery_price'), '2', ',', '.'); ?>
							</div>
						</div>
					<?php } ?>
					<br />
					<a href="<?php echo $this->getUrl("customers/stringer/edit/page/edit"); ?>">Bespanner gegevens wijzigen</a>
				<?php } else { ?>
					<a href="<?php echo $this->getUrl("customers/stringer/edit/page/edit"); ?>">Wordt bespanner</a>
				<?php } ?>
			</div>
		</div>
	</div>
	<?php if ($stringer->getData()){ ?>
		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">Beschikbare bespanningen</div>
				<div class="panel-body">
					<?php if (count($strings->getData())){ ?>
						<?php 
							$brand = $this->getSelectOptions('App\Customers\Model\Source\Brand');
							$material = $this->getSelectOptions('App\Customers\Model\Source\Material');
							$thickness = $this->getSelectOptions('App\Customers\Model\Source\Thickness');
							$type = $this->getSelectOptions('App\Customers\Model\Source\Type');
							$last = count($strings->getData()) - 1;
						?>
						<?php foreach ($strings->getData() as $key => $string){ ?>
							<div class="row">
								<div class="col-xs-5">
									Merk:
								</div>
								<div class="col-xs-7">
									<?php echo $brand[$string['brand']]; ?>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-5">
									Materiaal:
								</div>
								<div class="col-xs-7">
									<?php echo $material[$string['material']]; ?>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-5">
									Snaar type:
								</div>
								<div class="col-xs-7">
									<?php echo $type[$string['type']]; ?>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-5">
									Snaar dikte:
								</div>
								<div class="col-xs-7">
									<?php echo $thickness[$string['thickness']]; ?>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-5">
									Prijs:
								</div>
								<div class="col-xs-7">
									<?php echo '€ '. number_format($string['string_price'], '2', ',', '.'); ?>
								</div>
							</div>
							<?php if ($key != $last){ ?>
								<hr>
							<?php } ?>
						<?php } ?>
						
						<br />
						<a href="<?php echo $this->getUrl('customers/stringer/edit/page/edit'); ?>">Bespanningen wijzigen</a>
					<?php } else { ?>
						<a href="<?php echo $this->getUrl('customers/stringer/edit/page/edit'); ?>">Bespanningen toevoegen</a>
					<?php } ?>
				</div>
			</div>
		</div>
	<?php } ?>
</div>