<form method="post" action="customers/login/login">
	<div class="form-group required">
		<label for="email">E-mailadres</label>
		<input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" required>
	</div>
	<div class="form-group  required">
		<label for="password">Wachtwoord</label>
		<input type="password" name="password" class="form-control" id="password" placeholder="Wachtwoord" required>
	</div>

	<button type="submit" class="btn btn-primary">Inloggen</button>
	<button type="button" class="btn btn-link"><a href="<?php echo $this->getUrl('customers/forgot/index/page/forgot'); ?>">Wachtwoord vergeten?</a></button>
</form>