<form method="post" action="customers/register/save">
	<div class="form-group required">
		<label for="email">E-mailadres</label>
		<input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" required>
	</div>
	<div class="form-group required">
		<label for="firstname">Voornaam</label>
		<input type="text" name="firstname" class="form-control" id="firstname" placeholder="Voornaam" required>
	</div>
	<div class="form-group">
		<label for="lm_prefix">Tussenvoegsel</label>
		<input type="text" name="lm_prefix" class="form-control" id="lm_prefix">
	</div>
	<div class="form-group required">
		<label for="lastname">Achternaam</label>
		<input type="text" name="lastname" class="form-control" id="lastname" placeholder="Achternaam" required>
	</div>
	<div class="form-group required">
		<label for="password">Wachtwoord</label>
		<input type="password" name="password" class="form-control" id="password" placeholder="Wachtwoord" required>
	</div>
	<div class="form-group required">
		<label for="password">Wachtwoord</label>
		<input type="password" name="password2" class="form-control" id="password2" placeholder="Wachtwoord" required>
	</div>
	<div class="form-check form-group required">
		<input type="checkbox" class="form-check-input" id="terms" required>
		<label class="form-check-label" for="terms">Ik ga akkoord met de <a href="/">voorwaarden</a></label>
	</div>
	<button type="submit" class="btn btn-primary">Opslaan</button>
</form>