<?php

$messages = $this->getMessages();

?>

<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/Web/Css/Styles.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
		
		<title>Racket bespannen</title>
	</head>
	<body>
		<div class="container">
			<!-- Menu -->
			<div class="row topnav">
				<div class="col-xs-9">
					<a href="/">Logo</a>
				</div>

				<div class="col-xs-3 menu toggle">
					<a class="icon">
						<i class="fa fa-bars"></i>
					</a>
				</div>
			</div>
			<div class="row topnav menu margin-bottom-20">
				<div class="col-xs-12" id="links">
					<?php if (!$this->isLoggedIn()){ ?>
						<a href="<?php echo $this->getUrl('customers/login/index/page/login'); ?>">Login</a>
						<a href="<?php echo $this->getUrl('customers/register/index/page/register'); ?>">Registreren</a>
					<?php } else { ?>
						<a href="<?php echo $this->getUrl('customers/account/index/page/index'); ?>">Mijn account</a>
						<?php if (!$this->isStringer()){ ?>
							<a href="<?php echo $this->getUrl('customers/stringer/edit/page/edit'); ?>">Wordt bespanner</a>
						<?php } ?>
						<a href="<?php echo $this->getUrl('customers/settings/index/page/settings'); ?>">Instellingen</a>
						<a href="<?php echo $this->getUrl('/customers/login/logout'); ?>">Uitloggen</a>
					<?php } ?>
				</div>
			</div>
			<div class="row" id="messages">
				<?php foreach($messages as $type => $message){ ?>
					<div class="alert alert-<?php echo $type; ?>" role="alert">
						<?php echo $message; ?>
					</div>
				<?php } ?>
			</div>