<?php
$location = $this->getLocation();
?>

<div class="row">
	<div class="col-xs-12">
		<div id="map" style="height: 600px">
		
		</div>
	</div>
</div>


<script>
	var myStyles =
	[
		{
			featureType: "poi",
			elementType: "labels",
			stylers: [
				  { visibility: "off" }
			]
		}
	];

	var myOptions = {
		zoom: 15,
		styles: myStyles
	};
	
	var map;
	
	function placeMarker(data){
		var marker = new google.maps.Marker({
			position: {lat: Number(data.lat), lng: Number(data.lng)},
            map: map
        });
	}
	
</script>

<?php if ($location){ ?>
<script>
	myOptions.center = {lat: <?php echo $location[0]; ?>, lng: <?php echo $location[1]; ?>};

	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), myOptions);
	}
	
	$.post(
		"/customers/ajax/getCloseStringers",
		{
			x: <?php echo $location[0]; ?>,
			y: <?php echo $location[1]; ?>
		},
		function(data, status){
			if (data == "false"){
				console.log("Something went wrong while fetching near stringers");
			}
			
			data = jQuery.parseJSON(data);
			console.log(data);
			data.forEach(placeMarker);
		}
	);
</script>
<?php } else { ?>
<script>
	function initMap() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(showPosition);
		} else {
			// No location found... Panic?
		}
	}

	function showPosition(position) {
		myOptions.center = {lat: position.coords.latitude, lng: position.coords.longitude};
		
		map = new google.maps.Map(document.getElementById('map'), myOptions);
		
		$.post(
			"/customers/ajax/getCloseStringers",
			{
				lat: position.coords.latitude,
				lng: position.coords.longitude
			},
			function(data, status){
				if (data == "false"){
					console.log("Something went wrong while fetching near stringers");
				}
				
				data = jQuery.parseJSON(data);
				
				console.log(data);
				data.forEach(placeMarker);
			}
		);
	}
</script>
<?php } ?>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBf9BS8vAipiEj7RPPit52wK66fHMLLwgA&callback=initMap" async defer></script>